<div>

    <h1>Cookies</h1>

    <form id="cookieForm">

        <label >Nombre de la cookie</label>
        <input type="text" id="name" name="name" placeholder="Nombre de la cookie">

        <label>Correo electronico</label>
        <input type="email" id="email" name="email" placeholder="Correo electronico">

        <input type="submit" value="Enviar">

    </form>

    <button onclick="getCookie()">Obtener cookie</button>

</div>

<script src="/js/cookie.js"></script>
{{! Path: octava entrega\src\public\js\cookies.js }}