<div>

    <h1>Chat global</h1>

    <div id="chatBox"/>

    <input id="input"/>

    <button id="button">Enviar</button>

    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../../chat.js"></script>
